div.home {
    margin: 80px auto;
    padding: 10px;
}

div.p-5 {
    background-image: url("../gambar/bg.png");
    margin: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

div.row {
    padding: 50px;
}

footer {
    text-align: center;
    font-size: small;
    font-style: italic;
}
  
p.lead {
    border-top: 1px solid #afbcc6;
    border-bottom: 1px solid #eff2f6;
    height: 0px;
    margin-bottom: 20px;
}